---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$text-color:       #111;
$text-color:       #111;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bourbon/bourbon";
@import "base/base";
@import "base/normalize";
@import "font-awesome/font-awesome";
@import "layout";
