/*
Errno::ENOENT: No such file or directory @ rb_sysopen - layout.scss

Backtrace:
/Users/luisamarieth/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:482:in `read'
/Users/luisamarieth/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
/Users/luisamarieth/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/luisamarieth/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/Users/luisamarieth/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/luisamarieth/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/luisamarieth/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/plugin.rb:108:in `method_missing'
/Users/luisamarieth/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:384:in `watch_or_update'
/Users/luisamarieth/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/luisamarieth/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/base.rb:52:in `parse'
/Users/luisamarieth/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.18/lib/sass/exec/base.rb:19:in `parse!'
/Users/luisamarieth/.rvm/rubies/ruby-2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.18/bin/sass:13:in `<top (required)>'
/Users/luisamarieth/.rvm/gems/ruby-2.1.5/bin/sass:23:in `load'
/Users/luisamarieth/.rvm/gems/ruby-2.1.5/bin/sass:23:in `<main>'
/Users/luisamarieth/.rvm/gems/ruby-2.1.5/bin/ruby_executable_hooks:15:in `eval'
/Users/luisamarieth/.rvm/gems/ruby-2.1.5/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - layout.scss"; }
