---
layout: default
---

<article class="hosts">
    <section>
        <div class="host-description">
            <h2>Managed Hosting</h2>
            <p>Managed hosts generally handle all maintenance of the server and web sites.  This includes tasks like configuring services, installing software, deploying the site, upgrading the CMS/framework, etc.</p>
            <hr>
        </div>
        <table class="tables tables__scrollbar managed sortable-data" data-sortable>
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Last Scanned</th>
                    <th>7.0</th>
                    <th>5.6</th>
                    <th>5.5</th>
                    <th>5.4</th>
                    <th>5.3</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                {% assign hosts = (site.data.hosts | filter_by_type: 'managed' | sort: 'name') %}
                {% for host in hosts %}
                <tr>
                    <td class="host-name"><a href="{{ host.url }}">{{ host.name }}</a></td>
                    <td class="host-info">
                        {% if host.last_scanned_at %}{{ host.last_scanned_at | timeago }}{% else %}<i class="fa fa-times"></i>{% endif %}
                    </td>
                    <td class="host-info version">
                        {% if host.versions[70] %}{{ host.versions[70].version }}{% else %}-{% endif %}
                    </td>
                    <td class="host-info version">
                        {% if host.versions[56] %}{{ host.versions[56].version }}{% else %}-{% endif %}
                    </td>
                    <td class="host-info version">
                        {% if host.versions[55] %}{{ host.versions[55].version }}{% else %}-{% endif %}
                    </td>
                    <td class="host-info version">
                        {% if host.versions[54] %}{{ host.versions[54].version }}{% else %}-{% endif %}
                    </td>
                    <td class="host-info version">
                        {% if host.versions[53] %}{{ host.versions[53].version }}{% else %}-{% endif %}
                    </td>
                    <td class="host-info version">{% if host.default %}{{ host.versions[host.default].version }}{% else %}<em>???</em>{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</article>
