---
layout: default
---

{% assign all_hosts = site.data.hosts %}
{% assign sorted_hosts = (all_hosts | sort: 'name') %}

<article class="hosts">
  <section>
    <div class="host-description">
      <h2>PHP 7.1</h2>
      <p>With the excellent new PHP 7.0 out and about for over half a year already, PHP 7.1 is heading to a server near you, and it has some <a href="https://wiki.php.net/rfc#php_71">really cool stuff!</a> PHP 7.1 is <a href="https://secure.php.net/archive/2016.php#id2016-09-01-1">only a release candidate right now</a>, but you can keep an eye on this page to find out when exactly PHP 7.1 is ready for use.</p>
      <p>If you want something stable, stick to PHP 7.0 with help from <a href="http://www.phptherightway.com/#use_the_current_stable_version">PHP The Right Way: Getting Started</a>, or you can get a bit more adventurous and install whichever version you like <a href="https://github.com/php/php-src">from source</a>.</p>
      <hr>
    </div>
    <table class="tables">
      <thead>
        <tr>
          <th>Host</th>
          <th>Last Scanned</th>
          <th>7.1</th>
        </tr>
      </thead>
      <tbody>
      {% for host in sorted_hosts %}
        {% if host.versions[71] %}
        <tr>
          <td class="host-name"><a href="{{ host.url }}">{{ host.name | escape }}</a></td>
          <td class="host-info" data-last-scanned="{{ host.last_scanned_at }}">
              <i class="fa fa-times"></i>
          </td>
          <td class="host-info version">{{ host.versions[71] | format_version }}</td>
        </tr>
        {% endif %}
      {% endfor %}
        <tr>
          <td colspan="3">Want to contribute to this list? This site is up on GitHub, so head over to our <a href="https://github.com/philsturgeon/phpversions.info/">contribution instructions</a>.
        </tr>
      </tbody>
    </table>
  </section>
</article>
