---
layout: default
---

<article class="hosts">
    <section>
        <div class="host-description"> 
            <h2>Shared Hosting</h2>
            <p>Shared hosting is the most common type of hosting. It means that multiple websites owned by various people are all jammed onto the same server. These are often the slowest to update PHP versions because of the potential for breaking many sites. Still, manual upgrade options should be offered to move from one PHP version to another, and automatic updates at the patch level (0.0.X) should be provided.</p>
            <hr>
        </div>
        <table class="tables tables__scrollbar" data-sortable>
        <thead>
          <tr>
            <th>Host</th>
            <th>7.0</th>
            <th>5.6</th>
            <th>5.5</th>
            <th>5.4</th>
            <th>5.3</th>
            <th>5.2</th>
            <th>Default</th>
            <th>Manual </br> Upgrade</th>
            <th>Auto </br> Upgrade</th>
          </tr>
        </thead>
        <tbody>
        {% assign hosts = (site.data.shared_hosts | semver_sort_by: 'default') %}
        {% for host in hosts reversed %}
          <tr>
            <td class="host-name"><a href="{{ host.url }}">{{ host.name }}</a></td>
            <td class="host-info">{% if host.php70 %}{{ host.php70 }}{% else %}-{% endif %}</td>
            <td class="host-info">{% if host.php56 %}{{ host.php56 }}{% else %}-{% endif %}</td>
            <td class="host-info">{% if host.php55 %}{{ host.php55 }}{% else %}-{% endif %}</td>
            <td class="host-info">{% if host.php54 %}{{ host.php54 }}{% else %}-{% endif %}</td>
            <td class="host-info">{% if host.php53 %}{{ host.php53 }}{% else %}-{% endif %}</td>
            <td class="host-info">{% if host.php52 %}{{ host.php52 }}{% else %}-{% endif %}</td>
            <td class="host-info">{% if host.default %}{{ host.default }}{% else %}<em>???</em>{% endif %}</td>
            <td class="host-info">{% if host.manual_update %}{{ host.manual_update }}{% endif %}</td>
            <td class="host-info">{% if host.auto_update %}{{ host.auto_update }}{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
    </section>
</article>
