
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/shared-hosts">Shared Hosts</a></li>
        <li class="nav-link"><a href="/paas-hosts">PaaS Hosts</a></li>
        <li class="nav-link"><a href="/linux-distros">Linux Distros</a></li>
      </ul>
    </nav>
  </div>
</header>
