
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo home">
      <img src="/php-versions.png" alt="Logo Image">
    </a>
    <nav role="navigation">
      <ul class="navigation-menu show">
        <li class="nav-link"><a href="/shared-hosting">Shared Hosts</a></li>
        <li class="nav-link"><a href="/paas-hosting">PaaS Hosts</a></li>
        <li class="nav-link"><a href="/managed-hosting">Managed Hosts</a></li>
        <li class="nav-link"><a href="/operating-systems">Operating Systems</a></li>
        <li class="nav-link"><a href="/new-and-shiny">PHP 8.1</a></li>
      </ul>
    </nav>
    <hr>
  </div>
</header>
