
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo home">
      <img src="/php-elephant.png" alt="Logo Image">
    <nav role="navigation">
      <ul class="navigation-menu show">
        <li class="nav-link"><a href="/shared-hosting">Shared Hosts</a></li>
        <li class="nav-link"><a href="/paas-hosting">PaaS Hosts</a></li>
        <li class="nav-link"><a href="/linux-distros">Linux Distros</a></li>
        <li class="nav-link"><a href="/php-7">PHP 7</a></li>
      </ul>
    </nav>
    <hr>
  </div>
</header>
