/**
  GLOBAL STYLES
**/

body {
  margin: 0 auto;
  max-width: $small-screen;
  font-family: $sans-serif;
  padding: 0% 3%;
  @media (min-width: $medium-screen) {
    max-width: $medium-screen;
  }
  @media (min-width: $large-screen) {
    max-width: $large-screen;
  }
}

// Content area of webpage
.container .wrapper {
  width: 100%;
  margin: 0 auto;
}

// Header
header {
  margin: 0 auto;

  .logo img {
    padding: 5% 20% 0%;
    width: 205px;
    @media (min-width: $medium-screen) {
      padding: 5% 32% 0%;
      width: 228px;
    }
    @media (min-width: $large-screen) {
      padding: 0% 39% 0%;
      width: 270px;
    }
  }

  hr {
    width: 45%;
    // border-bottom: 1px solid $action-color;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 0 auto;
  }
}

// Nav Menu
.navigation-wrapper {
  padding: 5% 0% 0%;
  margin-bottom: 50px;
  hr {
    width: 0 auto;
  }
  @media (min-width: $medium-screen) {
    margin-bottom: 30px;
    padding-top: 3%;
    hr {
      display: none;
    }
  }
}

ul.navigation-menu {
  -webkit-transform-style: preserve-3d; // stop webkit flicker
  clear: both;
  display: none;
  margin: -40px auto 0;
  padding: 0;
  width: 100%;
  padding: 5% 0%;
  &.show {
    display: block;
  }
  @media (min-width: $medium-screen) {
    background-image: url($hero-image);
    display: inline-block;
    margin-top: -10px;
  }
  @media (min-width: $large-screen) {
    background-image: url($hero-image);
    background-size: cover;
    padding: 2% 0%;
  }
}

ul li.nav-link {
  display: block;
  text-align: center;
  @media (min-width: $medium-screen) {
    display: inline-block;
    border-right: dotted;
    border-color: $action-color;
    border-width: 3px;
    width: 19%;
    text-align: center;
    &:last-child{
      border-right: none;
    }
  }
  @media (min-width: $large-screen) {
    width: 19.5%;
  }
  a {
    display: inline-block;
    text-decoration: none;
    &:focus,
    &:hover {
      color: $action-color;
    }
  }
}

// Footer
footer {
  text-align: center;
  font-size: 0.7em;
  color: $dark-gray;
}


/**
  HOMEPAGE
**/


// Hero -- Section below Navigation (defined in _layouts/index.html
.hero {
  position: relative;

  .hero-inner {
    @include clearfix;
    margin: 0 auto;
    padding: 2% 0%;
    text-align: center;



    .hero-copy {
      text-align: center;
      p {
        color: $action-color;
        line-height: 1.4em;
      }
    }
  }
}

// Info Boxes

.grid-items {
  @include clearfix;
  width: 100%;
  a {
    text-decoration: none;
  }
  @media (min-width: $medium-screen) {
      display: inline-block;
      width: 100%;
  }

  .grid-item {
    @include clearfix;
    background: #6b83a6;
    border-top: 0;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 5%;
    text-align: center;
    display: block;
    @media (min-width: $medium-screen) {
      @include clearfix;
      float: left;
      width: 25%;
      margin: 0 auto;
      height: 400px;
      padding: 0;
    }
    @media (min-width: $large-screen) {
      height: 340px;
    }
    // assign colors from $grid-item-colors list
    @for $i from 1 through length($grid-item-colors) {
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10%);
        &:focus,
        &:hover {
          background-color: darken($background-from-list, 10%);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
        }
      }
    }
  }

  .grid-item h1 {
    color: $grid-item-color;
    font-size: 18px;
    padding: 6% 5% 0%;
    @media (min-width: $medium-screen) {
      padding: 10% 5% 0%;
    }
  }

  .grid-item p {
    color: transparentize($grid-item-color, 0.3);
    line-height: 1.5;
    margin: 0 auto;
    padding: 2%;
    @media (min-width: $medium-screen) {
      padding: 5%;
    }
  }
}

.homepage-faq {
  margin: 0 auto;
  padding: 5% 0% 10%;
  color: $dark-gray;
  @media (min-width: $medium-screen) {
    padding-top: 2%;
  }
  h2 {
    text-decoration: underline;
  }
  h3 {
    margin-bottom: 0.5px;
  }
}



/**
  HOST PAGES
**/

article.hosts {
  text-align: left;
  h1, h2, h3, p {
    margin: 0 auto;
  }
  hr {
    border-bottom: 1px solid $light-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 0 auto;
    width: 20px;
  }
  a {
    color: $action-color;
    text-decoration: none;
  }
  h2 {
    font-family: $sans-serif-2;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: $base-margin-bottom;
  }
  h3 {
    font-family: $sans-serif-2;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: $base-margin-bottom;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    color: $base-font-color;
    line-height: $base-line-height;
    margin-bottom: $base-margin-bottom;
    span {
      font-family: $sans-serif-2;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  .host-description {
    margin: 0 auto;
    padding: 5% 0%;
    @media(min-width: $large-screen) {
      padding: 3% 0% 2%;
    }
  }
}

.good-php {
  background-color: #3c8d2f;
}

.bad-php {
  background-color: #d46a68;
}


/**
  TABLES
**/

.tables {
  border-collapse: separate;
  border-left: 0px;
  border-radius: $base-border-radius;
  border-spacing: 0;
  border: $table-border;
  width: 100%;
  margin: 0 auto;

  tbody {
    background-color: $table-background;
    tr:hover > td, tr:hover > th {
      background-color: $table-hover-background;
    }
    tr:nth-child(even) {
      background-color: $table-stripe-background;
      &:hover > td {
        background-color: $table-stripe-background-hover;
      }
    }
  }

  thead:first-of-type {
    tr:first-child > th:first-child {
      border-top-left-radius: $base-border-radius;
    }
    tr:first-child > th:last-child {
      border-top-right-radius: $base-border-radius;
    }
  }

  tbody:last-child {
    tr:last-child > td:first-child {
      border-bottom-left-radius: $base-border-radius;
    }
    tr:last-child > td:last-child {
      border-bottom-right-radius: $base-border-radius;
    }
  }

  thead {
    th {
      background-color: $table-header-background;
      border-left: 1px solid $table-border-color;
      border-bottom: 5px solid $table-border-color;
      padding: $table-padding;
      text-align: left;
      font-size: 15px;
      @media (min-width: $medium-screen) {
        text-align: center;
      }
      &:first-child {
        @include word-wrap;
        border-left: none;
        text-align: left;
        font-size: 18px;
      }
    }
  }

  tbody {
    td {
      border-bottom: 0px;
      border-left: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;
      padding: $table-padding;
      &:first-child {
        border-left: none;
      }
      &.host-name {
        font-size: 14px;
        @media(min-width: $large-screen) {
          font-size: 16px;
        }
      }
      &.host-info {
        font-size: 12px;
        text-align: center;
        @media(min-width: $large-screen) {
          font-size: 14px;
        }
      }
    }
  }

  .good-version {
    color: #0c0;
  }
  .eol-version {
    color: #ea0;
  }
  .bad-version {
    color: #c00;
  }
  .unknown-version {
    color: #999;
    font-style: italic;
  }
}

.tables__scrollbar {
  @include ellipsis(100%);
  overflow: scroll;
  &.paas {
    @media (min-width: $medium-screen) {
      display: inline-table;
    }
  }
  @media (min-width: $large-screen) {
    display: inline-table;
  }
}

table[data-sortable] {
  // put cursor and disable selection of non-sortable headers
  th:not([data-sortable="false"]) {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    cursor: pointer;
  }
  // sorting arrows
  th:after {
      content: "";
      visibility: visible;
      display: inline-block;
      vertical-align: middle;
      height: 0px;
      width: 0px;
      border-width: 5px;
      border-style: dotted;
      border-color: transparent;
      margin-right: 5px;
      margin-left: 10px;
  }
  th[data-sorted="true"]:after {
    visibility: visible;
  }
  th[data-sorted-direction="descending"]:after {
    border-top-color: $marker-color;
  }
  th[data-sorted-direction="ascending"]:after {
    border-bottom-color: $marker-color;
  }
}
