<!DOCTYPE html>
<html>
  {% include head.html %}
<body>

    {% include header.html %}

    <div class="hero">
    	<div class="hero-inner">
    		<div class="hero-copy">
                <p>Don't get stuck on crap old versions of PHP just because your host does not support it. Keep using the newest version, and if you gotta switch... maybe you gotta switch.</p>
            </div>
        </div>
    </div>

    <section class="container">
        <div class="wrapper">
            {{ content }}
        </div>
    </section>

    {% include footer.html %}
    {% include javascripts.html %}
</body>
</html>
