// Shared
$sans-serif: 'Nunito', sans-serif;
$sans-serif-2: 'Varela Round', sans-serif;

$small-screen: 340px;
$medium-screen: 640px;
$large-screen: 1260px;


// Hero
$base-border-radius: 3px;
$action-color: #477DCA;
$hero-background-top: #7F99BE; 
$hero-background-bottom: #20392B;
$hero-color: #8b6a9a;
$gradient-angle: 10deg;
$hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';


// Grid
$action-color: #477DCA;
$base-background-color: #ffffff;
$grid-items-background: $base-background-color;
$grid-item-background: desaturate($action-color, 30%);
$grid-item-colors: 
desaturate($action-color, 30%), 
#3581A5, 
#5FBEBE,
#98C79A,
#A7A891, 
#BDCC97,
#979EA0;
$grid-item-border-size: 9px;
$grid-item-columns: 4;
$grid-item-big-columns: 8;
$grid-item-color: #ffffff;
$grid-item-height: 18em;


// Article 
$base-border-radius: 3px;
$base-line-height: 1.5em;
$action-color: #477DCA;
$dark-gray: #333;
$light-gray: #DDD;
$medium-screen: 640px;
$base-font-color: $dark-gray;
$base-margin-bottom: 20px;


// Tables 
$base-border-color: gainsboro;
$base-border-radius: 3px;
$action-color: #477DCA;
$dark-gray: #333;
$light-gray: #DDD;
$base-font-color: $dark-gray;
$table-border-color: $base-border-color;
$table-border: 1px solid $table-border-color;
$table-background: lighten($table-border-color, 12%);
$table-header-background: lighten(#8b6a9a, 10%);
$table-hover-background: darken($table-background, 5%);
$table-stripe-background: darken($table-background, 2%);
$table-stripe-background-hover: darken($table-stripe-background, 5%);
$table-padding: 4px;
$marker-color: lighten($text-color, 20);